@keyframes fade-in {
    from{
        visibility: hidden;
        opacity: 0;
    }
    1%{
        visibility: visible;
        opacity: 0;
    }

    to{
        opacity: 1;
        visibility: visible;
    }
}

@keyframes fade-out {

    from{
        visibility: visible;
        opacity: 1;
    }
    99%{
        visibility: visible;
        opacity: 0;
    }
    to{
        opacity: 0;
        visibility: hidden;
    }
}

.has-fade{
    visibility: hidden;
}

.fade-out{
    animation: fade-out 200ms ease-in-out forwards;
}

.fade-in{
    animation: fade-in 200ms ease-in-out forwards;
}

.ani{
    animation: text 2s ease-in-out;
}

.dis{
    animation: dis 2s ease-in-out;
}

@keyframes text{
    from{
        transform: translate(-50px);
    }

    to{
       transform: none;
    }
}

@keyframes dis{
    from{
        opacity: 0.8;
        transform: translate(50px);
    }

    to{
        opacity: 1;

    }
}